Repository vlggms/tegustation, changes with the labels that .github/labeler.yml gives for each.
All labels: Admin, Config, Dependencies, Sprites, Map Change, Sound, SQL, TGUI, Github

.github/labeler.yml:

Admin:
  - 'code/modules/admin/**'

# Any file within the config subfolder
Config:
  - 'config/**'

Dependencies:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

# Any .dmi changes
Sprites:
  - '**/*.dmi'

# Changes to a .dmm or anything in the _map subfolder
Map Change:
  - '**/*.dmm'
  - '_maps/**'

# Any changes to .ogg files are marked as sound
Sound:
  - '**/*.ogg'

# Changes to the SQL subfolder
SQL:
  - 'SQL/**'

# Changes to the tgui subfolder
TGUI:
  - 'tgui/**'

# Changes to the .Github subfolder
Github:
  - '.github/**'

rebrand time
  config/admins.txt
  config/title_music/sounds/rare+titleR1.ogg
  config/title_music/sounds/title1.ogg
  config/title_music/sounds/title2.ogg
  config/title_music/sounds/title3.ogg
  config/title_music/sounds/title4.ogg
Labels: Config, Sound

music
  config/title_music/sounds/icedcooly.ogg
  config/title_music/sounds/rare+classic.ogg
  config/title_music/sounds/rare+clouds.ogg
  config/title_music/sounds/rare+title1.ogg
Labels: Config, Sound

title
  config/title_screens/images/default.png
Labels: Config

new cards
  icons/obj/card.dmi
Labels: Sprites

cleans up ambience.dm
  code/_globalvars/lists/ambience.dm
Labels: none

Update human_parts_greyscale.dmi
  icons/mob/human_parts_greyscale.dmi
Labels: Sprites

replaces assistants with cadets
  code/__DEFINES/atmospherics.dm
  code/controllers/subsystem/job.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/color.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/jobs.dm
  icons/obj/card.dmi
Labels: Sprites

cadet resprite
  code/modules/clothing/under/color.dm
  icons/mob/clothing/under/color.dmi
  icons/obj/clothing/under/color.dmi
Labels: Sprites

tegu card icons
  ModularTegustation/Teguicons/cards.dmi
Labels: Sprites

lol terragov budget cuts
  ModularTegustation/Teguicons/cards.dmi
  ModularTegustation/tegu_terragov_code/clothing.dm
  ModularTegustation/tegu_terragov_code/encryption_keys.dm
  ModularTegustation/tegu_terragov_code/ert.dm
  ModularTegustation/tegu_terragov_code/headset.dm
  ModularTegustation/tegu_terragov_code/misc.dm
  code/game/objects/items/grenades/plastic.dm
  code/modules/clothing/outfits/terragov.dm
  tgstation.dme
Labels: Sprites
