Repository vlggms/tegustation, pull requests merged in 2021-06, with the labels that each got.

#157 Bunch of fixes
  code/__HELPERS/radio.dm
  code/controllers/subsystem/air.dm
  code/datums/achievements/misc_scores.dm
  code/datums/components/uplink.dm
  code/datums/diseases/_MobProcs.dm
  code/datums/diseases/_disease.dm
  code/datums/helper_datums/teleport.dm
  code/datums/martial/sleeping_carp.dm
  code/datums/position_point_vector.dm
  code/datums/wounds/loss.dm
  code/game/atoms.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/computer/crew.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/porta_turret/portable_turret_construct.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/pinpointer.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/ladders.dm
  code/game/objects/structures/reflector.dm
  code/game/turfs/closed/wall/misc_walls.dm
  code/modules/assembly/flash.dm
  code/modules/awaymissions/corpse.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/under/accessories.dm
  code/modules/events/immovable_rod.dm
  code/modules/holodeck/computer.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/modular_computers/file_system/programs/radar.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/special/rocket.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/spells/spell_types/bloodcrawl.dm
  code/modules/spells/spell_types/ethereal_jaunt.dm
  code/modules/spells/spell_types/rod_form.dm
  code/modules/spells/spell_types/shadow_walk.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/healing.dm
  code/modules/vending/medical.dm
  code/modules/vending/medical_wall.dm
  code/modules/vending/toys.dm
  code/modules/vending/youtool.dm
  icons/mob/clothing/accessories.dmi
  tgui/packages/tgui/links.js
Labels: /tg/ Port, Fix

#158 Ports "makes gas actually dissipate" PR from /tg/
  _maps/templates/unit_tests.dmm
  code/__DEFINES/atmospherics.dm
  code/_onclick/hud/alert.dm
  code/game/objects/effects/landmarks.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/machinery/datum_pipeline.dm
  code/modules/client/preferences.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/breath.dm
  code/modules/unit_tests/chain_pull_through_space.dm
  code/modules/unit_tests/combat.dm
  code/modules/unit_tests/spawn_humans.dm
  code/modules/unit_tests/teleporters.dm
  code/modules/unit_tests/unit_test.dm
Labels: /tg/ Port

#159 Adds missing actions to some hardsuits
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
Labels: Fix

#138 Berets
  ModularTegustation/Teguicons/head_item.dmi
  ModularTegustation/Teguicons/head_worn.dmi
  ModularTegustation/altjobtitles/altjobtitles.dm
  ModularTegustation/altjobtitles/outfits.dm
  ModularTegustation/tegu_clothes_code/head.dm
  ModularTegustation/tegu_global_vars.dm
  code/modules/clothing/head/jobs.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Tweak

#111 Terragov ERTs, Terragov outfits, some new weapons, adds autofire to a few weapons
  ModularTegustation/Teguicons/cards.dmi
  ModularTegustation/Teguicons/tegu_bodyparts.dmi
  ModularTegustation/Teguicons/tegu_bodyparts_robotic.dmi
  ModularTegustation/Teguicons/tegu_guns.dmi
  ModularTegustation/Tegusounds/weapons/guns/pistol.ogg
  ModularTegustation/Tegusounds/weapons/guns/pistol_large.ogg
  ModularTegustation/Tegusounds/weapons/guns/type64.ogg
  ModularTegustation/tegu_terragov_code/clothing.dm
  ModularTegustation/tegu_terragov_code/ert.dm
  ModularTegustation/tegu_terragov_code/misc.dm
  ModularTegustation/tegu_weaponry/guns/ak47.dm
  ModularTegustation/tegu_weaponry/guns/terra_pistols.dm
  code/game/objects/items/grenades/plastic.dm
  code/modules/clothing/outfits/terragov.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  icons/mob/clothing/accessories.dmi
  icons/mob/clothing/head.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/hats.dmi
  tgstation.dme
Labels: Feature
