Repository vlggms/tegustation, pull requests merged in 2021-04, with the labels that each got.

#89 Updates Modular Code README.md
  ModularTegustation/README.md
Labels: Github

#46 Void Technician (Revamp of Space Explorer)
  ModularTegustation/Teguicons/cards.dmi
  ModularTegustation/Teguicons/kirie_stuff/voidtech.dmi
  ModularTegustation/Teguicons/kirie_stuff/voidtech_icon.dmi
  ModularTegustation/Teguicons/teguclothing_hold_left.dmi
  ModularTegustation/Teguicons/teguclothing_hold_right.dmi
  ModularTegustation/Teguicons/teguhud.dmi
  ModularTegustation/altjobtitles/altjobtitles.dm
  ModularTegustation/tegu_global_vars.dm
  ModularTegustation/tegu_jobs/job_integration.dm
  ModularTegustation/tegu_jobs/void_technician/outpost.dm
  ModularTegustation/tegu_jobs/void_technician/voidtech.dm
  ModularTegustation/tegu_jobs/void_technician/voidtechClothing.dm
  _maps/RandomRuins/SpaceRuins/voidtech.dmm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/game/gamemodes/objective_items.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/machinery/computer/crew.dm
  code/modules/jobs/access.dm
  code/modules/jobs/jobs.dm
  tgstation.dme
Labels: Feature

#90 Updates void outpost.
  _maps/RandomRuins/SpaceRuins/voidtech.dmm
Labels: Tweak

#91 Alt titles strike back
  ModularTegustation/altjobtitles/altjobtitles.dm
  ModularTegustation/tegu_global_vars.dm
Labels: Fix, Tweak

#92 Buffs space loot a tiny bit, adds 2 new ruins.
  ModularTegustation/Teguicons/kirie_stuff/voidtech.dmi
  ModularTegustation/tegu_jobs/void_technician/voidtechClothing.dm
  ModularTegustation/tegu_space_explorers.dm
  ModularTegustation/tegu_spaceruins.dm
  _maps/RandomRuins/SpaceRuins/DJstation.dmm
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  _maps/RandomRuins/SpaceRuins/caravanambush.dmm
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomRuins/SpaceRuins/gasthelizards.dmm
  _maps/RandomRuins/SpaceRuins/oldmedical.dmm
  _maps/RandomRuins/SpaceRuins/oldscience.dmm
  _maps/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/RandomRuins/SpaceRuins/tegruin.dmm
  _maps/RandomRuins/SpaceRuins/turretedoutpost.dmm
Labels: Balance, Feature

#94 Updates Prototype station (a bit)
  _maps/RandomRuins/SpaceRuins/prototype.dmm
Labels: Tweak

#62 Readds DNA manipulator to Botany.
  ModularTegustation/tegu_boxes.dm
  ModularTegustation/tegu_locker_overwrites.dm
  code/modules/hydroponics/gene_modder.dm
  tgstation.dme
Labels: Feature

#99 Bunch of ported PRs
  code/__HELPERS/priority_announce.dm
  code/datums/tgs_event_handler.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  tgui/packages/tgui/interfaces/PortraitPicker.js
Labels: /tg/ Port

#98 expands chef's cqc area to the bar
  code/datums/martial/cqc.dm
Labels: Balance

#102 Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v5/api.dm
Labels: Dependencies

#105 Ports a couple of medical related PRS
  code/__DEFINES/misc.dm
  code/__DEFINES/nitrile.dm
  code/__DEFINES/traits.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/clothing/gloves/color.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/library/skill_learning/skillchip.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/reagents/reagent_containers/medigel.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/syringes.dm
  tgstation.dme
Labels: /tg/ Port

#103 Cloning, All good to go
  ModularTegustation/Teguicons/cloning/cloning.dmi
  ModularTegustation/Teguicons/cloning/cloning_pod.dmi
  ModularTegustation/Teguicons/cloning/cryo_mobs.dmi
  ModularTegustation/tegu_cloning/_DEFINES/DNA.dm
  ModularTegustation/tegu_cloning/_DEFINES/brain_trauma.dm
  ModularTegustation/tegu_cloning/_DEFINES/machines.dm
  ModularTegustation/tegu_cloning/_DEFINES/poll_ignore.dm
  ModularTegustation/tegu_cloning/brain_item.dm
  ModularTegustation/tegu_cloning/circuits.dm
  ModularTegustation/tegu_cloning/computer.dm
  ModularTegustation/tegu_cloning/countdown.dm
  ModularTegustation/tegu_cloning/gas.dm
  ModularTegustation/tegu_cloning/machine.dm
  ModularTegustation/tegu_cloning/negative_mood.dm
  ModularTegustation/tegu_cloning/traits.dm
  code/__DEFINES/DNA.dm
  code/__DEFINES/machines.dm
  code/datums/dna.dm
  tgstation.dme
Labels: Feature

#106 Mother Anarchy loves her sons.
  code/modules/admin/verbs/secrets.dm
  tgui/packages/tgui/interfaces/Secrets.js
Labels: Feature

#109 Revert "Update TGS DMAPI"
  code/__DEFINES/tgs.dm
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v5/api.dm
Labels: Dependencies

#104 Bananium Essence Reagent
  ModularTegustation/tegu_chemistry/reagents.dm
  ModularTegustation/tegu_chemistry/recipes.dm
  ModularTegustation/tegu_virology.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  tgstation.dme
Labels: Feature

#108 A couple of ports including autofire
  code/__DEFINES/_click.dm
  code/__DEFINES/combat.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/projectiles.dm
  code/_onclick/drag_drop.dm
  code/datums/components/crafting/guncrafting.dm
  code/datums/components/crafting/recipes.dm
  code/datums/components/fullauto.dm
  code/modules/antagonists/traitor/IAA/internal_affairs.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/events/brain_trauma.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mob/mob.dm
  code/modules/projectiles/ammunition/caseless/misc.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/ammunition/energy/special.dm
  code/modules/projectiles/boxes_magazines/internal/misc.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/energy/laser_gatling.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/projectile/energy/tesla.dm
  icons/effects/mouse_pointers/weapon_pointer.dmi
  tgstation.dme
Labels: /tg/ Port, Tweak

#110 Kalashnikov's Rifles
  ModularTegustation/Teguicons/48x32_guns.dmi
  ModularTegustation/Teguicons/magazines.dmi
  ModularTegustation/tegu_cargo/cargo_edits.dm
  ModularTegustation/tegu_cargo/cargo_packs.dm
  ModularTegustation/tegu_weaponry/guns/ak47.dm
  code/modules/cargo/packs.dm
  tgstation.dme
Labels: Feature
