Repository vlggms/tegustation, pull requests merged in 2021-03, with the labels that each got.

#44 Fixes mini disabler
  ModularTegustation/tegu_security_code/tegu_starter_gear.dm
Labels: Fix

#40 Geneticist Changes+Cleaned Dep ID (Modularized!)
  ModularTegustation/Teguicons/cards.dmi
  ModularTegustation/tegu_jobs/job_integration.dm
  ModularTegustation/tegu_jobs/tegu_geneticist.dm
  tgstation.dme
Labels: Tweak

#12 [Modular] Velvet-Fu!
  ModularTegustation/Teguicons/teguicons.dmi
  ModularTegustation/Teguicons/velvetfu.dmi
  ModularTegustation/tegu_medical_code/tegu_medical.dm
  ModularTegustation/tegu_traitor_code/uplink_items_tegu.dm
  ModularTegustation/tegu_traitor_code/velvet_fu.dm
  code/__DEFINES/TeguDefines.dm
  tgstation.dme
Labels: Feature

#29 Breadstick
  ModularTegustation/Teguicons/breadstick.dmi
  ModularTegustation/tegu_traitor_code/tegu_traitor_items.dm
  ModularTegustation/tegu_traitor_code/uplink_items_tegu.dm
  ModularTegustation/tegufood.dm
  tgstation.dme
Labels: Tweak

#54 Adds xenobio exports back in.
  tgstation.dme
Labels: Fix

#55 Fixes autolathe materials.
  code/datums/materials/basemats.dm
Labels: Fix

#56 Moves some files around and adds hardhat with no light.
  ModularTegustation/Teguicons/Bowler_Hat.dmi
  ModularTegustation/Teguicons/head_item.dmi
  ModularTegustation/Teguicons/head_worn.dmi
  ModularTegustation/Teguicons/zepelli_hat.dmi
  ModularTegustation/Teguicons/zepelli_hat_worn.dmi
  ModularTegustation/tegu_clothes_code/bowler_hat.dm
  ModularTegustation/tegu_clothes_code/head.dm
  ModularTegustation/tegu_clothes_code/shoes_tegu.dm
  ModularTegustation/tegu_clothes_code/tegu_clothing.dm
  ModularTegustation/tegu_vendor_overwrites.dm
  code/modules/clothing/zepelli_hat.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  tgstation.dme
Labels: Fix, Tweak

#58 Fixes bowler-hat sprite.
  ModularTegustation/Teguicons/head_item.dmi
  ModularTegustation/tegu_clothes_code/bowler_hat.dm
Labels: Fix

#57 Updates "readme.md" a bit
  .github/assets/discord.png
  .github/assets/tegustation.png
  README.md
Labels: Github

#59 Ports new CentCom clothing from /tg/
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/jobs/centcom.dm
  code/modules/vending/clothesmate.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/centcom.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/centcom.dmi
Labels: /tg/ Port

#60 Fixes xenobiology cargo exports.
  ModularTegustation/tegu_cargo.dm
Labels: Fix

#63 Fixes food trash element (Gatfruit and the others)
  code/datums/elements/food/food_trash.dm
  code/modules/hydroponics/grown.dm
Labels: /tg/ Port

#53 Alternate job titles
  ModularTegustation/altjobtitles/altjobtitles.dm
  ModularTegustation/altjobtitles/outfits.dm
  ModularTegustation/tegu_config.dm
  code/__HELPERS/game.dm
  code/controllers/subsystem/job.dm
  code/datums/datacore.dm
  code/datums/outfit.dm
  code/game/machinery/computer/crew.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/inventory.dm
  config/config.txt
  tgstation.dme
Labels: Feature, Non-Modular

#65 Ports ERT improvements
  ModularTegustation/altjobtitles/altjobtitles.dm
  code/datums/browser.dm
  code/datums/ert.dm
  code/datums/outfit.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/official/official.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/outfits/ert.dm
  tgstation.dme
Labels: /tg/ Port, Tweak

#67 Adds bunch of outfits for alternative titles.
  ModularTegustation/altjobtitles/altjobtitles.dm
  ModularTegustation/altjobtitles/outfits.dm
  ModularTegustation/tegu_clothes_code/tegu_clothing.dm
  ModularTegustation/tegu_config.dm
Labels: Tweak

#68 Fixes station trait reports on extended.
  code/datums/station_traits/negative_traits.dm
  code/datums/station_traits/positive_traits.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/extended/extended.dm
  code/game/gamemodes/game_mode.dm
Labels: /tg/ Port

#69 Fixes senior titles' HUD/ID job overlay.
  code/modules/jobs/access.dm
Labels: Fix

#70 Fixes announcers a bit
  code/__HELPERS/priority_announce.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Fix

#71 Quick Camo Deagle Fix
  icons/obj/guns/projectile.dmi
Labels: Fix, Non-Modular

#72 Adds a protective clown's mask and road sign weapon. Both in a traitor uplink.
  ModularTegustation/Teguicons/mask_item.dmi
  ModularTegustation/Teguicons/mask_worn.dmi
  ModularTegustation/Teguicons/teguitems.dmi
  ModularTegustation/Teguicons/teguitems_hold_left.dmi
  ModularTegustation/Teguicons/teguitems_hold_right.dmi
  ModularTegustation/living/carbon/life.dm
  ModularTegustation/living/living.dm
  ModularTegustation/tegu_clothes_code/bowler_hat.dm
  ModularTegustation/tegu_clothes_code/head.dm
  ModularTegustation/tegu_clothes_code/mask.dm
  ModularTegustation/tegu_clothes_code/tegu_clothing.dm
  ModularTegustation/tegu_traitor_code/tegu_traitor_items.dm
  ModularTegustation/tegu_traitor_code/uplink_items_tegu.dm
  tgstation.dme
Labels: Feature, Tweak

#74 Ports TGUI vote panel.
  code/controllers/subsystem/vote.dm
  tgui/packages/tgui/interfaces/Vote.js
Labels: /tg/ Port

#75 Changes deputy days timelock from 14 to 3.
  ModularTegustation/tegu_jobs/deputies/deputy.dm
Labels: Tweak

#76 Ports ATH's voodoo doll changes.
  code/modules/antagonists/wizard/equipment/artefact.dm
Labels: Balance

#80 Ports few /tg/ PRs.
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ghost.dm
  code/datums/components/bloodysoles.dm
  code/datums/components/pellet_cloud.dm
  code/datums/quirks/good.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/modules/events/brand_intelligence.dm
  code/modules/mob/dead/observer/observer_say.dm
  code/modules/power/supermatter/supermatter.dm
  icons/hud/screen_ghost.dmi
  icons/obj/items_and_weapons.dmi
Labels: /tg/ Port

#79 Adds a 5% chance for steppy to spawn with sunglasses.
  ModularTegustation/Teguicons/tegumobs.dmi
  ModularTegustation/tegu_mobs/alligator.dm
Labels: Tweak

#81 Adds "Trusted Players" and white-listed races.
  ModularTegustation/tegu_config.dm
  ModularTegustation/tegu_global_vars.dm
  ModularTegustation/trusted_players/trusted-players_procs.dm
  code/__HELPERS/TeguHelpers.dm
  code/game/world.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/species.dm
  config/game_options.txt
  config/trusted_players.txt
  tgstation.dme
Labels: Feature

#82 Fixes races whitelist.
  code/modules/client/preferences.dm
Labels: Fix

#83 Actually fixes whitelist-races, I HOPE.
  ModularTegustation/trusted_players/trusted-players_procs.dm
  code/modules/client/preferences.dm
Labels: Fix

#84 Updates hub description.
  ModularTegustation/tegu_world.dm
Labels: Tweak

#86 Updates alt title for Captain and (probably) fixes crew manifest.
  code/datums/datacore.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_types/captain.dm
  config/config.txt
Labels: Fix, Tweak

#87 Small change to "Create Antagonist" verb.
  code/modules/admin/topic.dm
  code/modules/admin/verbs/one_click_antag.dm
Labels: Tweak

#48 Packed Station: A small map for lowpop
  ModularTegustation/tegushuttles.dm
  _maps/_basemap.dm
  _maps/map_files/PackedStation/PackedStation.dmm
  _maps/packedstation.json
  _maps/shuttles/arrival_packed.dmm
  _maps/shuttles/emergency_packed.dmm
  config/maps.txt
  tgstation.dme
Labels: Feature
