Repository vlggms/tegustation, pull requests merged in 2021-05, with the labels that each got.

#95 Anomalous Weaponry
  ModularTegustation/Teguicons/bhole_projector.dmi
  ModularTegustation/Teguicons/teguclothing.dmi
  ModularTegustation/anomaly_items/anomaly_tools.dm
  ModularTegustation/anomaly_items/anomaly_weapons.dm
  ModularTegustation/tegu_space_explorers.dm
  _maps/RandomRuins/SpaceRuins/oldscience.dmm
  tgstation.dme
Labels: Feature, Need sprites

#113 Ports bitflag PR from /tg/
  code/__DEFINES/flags.dm
  code/__DEFINES/obj_flags.dm
  code/_globalvars/bitfields.dm
  code/_onclick/click.dm
  code/controllers/subsystem/mapping.dm
  code/datums/mapgen/CaveGenerator.dm
  code/game/area/areas.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/area/areas/shuttles.dm
  code/game/area/space_station_13_areas.dm
  code/game/objects/effects/phased_mob.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/powersink.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/river.dm
  code/game/turfs/open/space/transit.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/cult/ritual.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/mapping/ruins.dm
  code/modules/mapping/space_management/space_reservation.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/silicon/ai/multicam.dm
  code/modules/mob/mob_movement.dm
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
  code/modules/shuttle/shuttle.dm
Labels: /tg/ Port

#112 Ports Tribal Expansion from BeeStation
  _maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/datums/components/crafting/guncrafting.dm
  code/datums/components/crafting/recipes.dm
  code/datums/components/crafting/tailoring.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/game/objects/structures/watercloset.dm
  code/modules/cargo/bounties/mining.dm
  code/modules/cargo/exports/sheets.dm
  code/modules/cargo/exports/weapons.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/suits/cloaks.dm
  code/modules/projectiles/ammunition/caseless/arrow.dm
  code/modules/projectiles/boxes_magazines/internal/bow.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/misc/bow.dm
  code/modules/projectiles/guns/misc/syringe_gun.dm
  code/modules/projectiles/projectile/reusable/arrow.dm
  code/modules/research/designs/biogenerator_designs.dm
  code/modules/ruins/lavaland_ruin_code.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/inhands/equipment/shields_lefthand.dmi
  icons/mob/inhands/equipment/shields_righthand.dmi
  icons/mob/inhands/weapons/axes_lefthand.dmi
  icons/mob/inhands/weapons/axes_righthand.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/mob/inhands/weapons/polearms_lefthand.dmi
  icons/mob/inhands/weapons/polearms_righthand.dmi
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/mob/inhands/weapons/thrown_lefthand.dmi
  icons/mob/inhands/weapons/thrown_righthand.dmi
  icons/obj/ammo.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/improvised.dmi
  icons/obj/items_and_weapons.dmi
  icons/obj/shields.dmi
  icons/obj/stack_objects.dmi
  sound/weapons/bowdraw.ogg
  sound/weapons/bowfire.ogg
  tgstation.dme
Labels: Feature, Tweak

#116 Updates LUFR spawner and changes Ashwalkers' one a bit.
  ModularTegustation/tegu_minor_factions.dm
  _maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_lufr_pod.dmm
  code/game/objects/items/fireaxe.dm
  code/game/objects/items/spear.dm
  code/game/objects/items/weaponry.dm
Labels: Fix, Tweak

#117 Changes some centcom outfits, readds old officer's jumpsuit for inspector.
  ModularTegustation/tegu_minor_factions.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/jobs/centcom.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/under/centcom.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/under/centcom.dmi
Labels: Fix, Tweak

#118 Updates few icons
  ModularTegustation/Teguicons/48x32_guns.dmi
  ModularTegustation/Teguicons/energy_sniper.dmi
  ModularTegustation/Teguicons/mask_item.dmi
Labels: Tweak

#120 Cryopods port
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PackedStation/PackedStation.dmm
  code/controllers/subsystem/job.dm
  code/datums/mind.dm
  code/game/area/space_station_13_areas.dm
  code/game/gamemodes/objective.dm
  code/game/machinery/announcement_system.dm
  code/game/machinery/cryopod.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/client/client_defines.dm
  icons/obj/machines/cryopod.dmi
  icons/turf/areas.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/CryopodConsole.js
Labels: Feature

#121 Changes Curator's whip and classic/telescopic baton attacks, makes choice beacons spawn items using a supply pod again.
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/miscellaneous.dm
  icons/obj/items_and_weapons.dmi
Labels: Feature, Tweak

#119 Gives void tech's ultra senior title a unique hardsuit.
  ModularTegustation/Teguicons/kirie_stuff/voidtech.dmi
  ModularTegustation/Teguicons/kirie_stuff/voidtech_icon.dmi
  ModularTegustation/altjobtitles/outfits.dm
  ModularTegustation/tegu_jobs/void_technician/voidtechClothing.dm
Labels: Need sprites, Tweak

#123 Small tribal rebalance
  _maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  code/datums/components/crafting/recipes.dm
  code/modules/clothing/suits/cloaks.dm
Labels: Balance

#124 Fixes god damn simplemob chems
  code/modules/mob/living/life.dm
  code/modules/reagents/chemistry/holder.dm
Labels: Fix

#3 New EVENT megafauna.
  ModularTegustation/Teguicons/32x64.dmi
  ModularTegustation/Teguicons/64x64.dmi
  ModularTegustation/Teguicons/megafauna.dmi
  ModularTegustation/Teguicons/teguclothing_worn.dmi
  ModularTegustation/Teguicons/teguitems.dmi
  ModularTegustation/Teguicons/teguitems_hold_left.dmi
  ModularTegustation/Teguicons/teguitems_hold_right.dmi
  ModularTegustation/Tegusounds/apostle/antagonist/rapture.ogg
  ModularTegustation/Tegusounds/apostle/antagonist/rapture2.ogg
  ModularTegustation/Tegusounds/apostle/antagonist/scythe.ogg
  ModularTegustation/Tegusounds/apostle/antagonist/scythe_spell.ogg
  ModularTegustation/Tegusounds/apostle/antagonist/spear.ogg
  ModularTegustation/Tegusounds/apostle/antagonist/spear_charge.ogg
  ModularTegustation/Tegusounds/apostle/antagonist/spear_dash.ogg
  ModularTegustation/Tegusounds/apostle/antagonist/staff_charge.ogg
  ModularTegustation/Tegusounds/apostle/antagonist/whisper.ogg
  ModularTegustation/Tegusounds/apostle/mob/apostle_bell.ogg
  ModularTegustation/Tegusounds/apostle/mob/apostle_death.ogg
  ModularTegustation/Tegusounds/apostle/mob/apostle_death_final.ogg
  ModularTegustation/Tegusounds/apostle/mob/apostle_heal.ogg
  ModularTegustation/Tegusounds/apostle/mob/apostle_shout.ogg
  ModularTegustation/Tegusounds/apostle/mob/apostle_spell.ogg
  ModularTegustation/tegu_items/apostle_items.dm
  ModularTegustation/tegu_mobs/apostle.dm
  ModularTegustation/tegu_mobs/apostle_antag.dm
  code/controllers/subsystem/ticker.dm
  sound/roundend/bannedonfulpstation.ogg
  tgstation.dme
Labels: Feature, Need sprites

#114 Removes beefmen and associated code.
  ModularTegustation/README.md
  ModularTegustation/languagebooks.dm
  ModularTegustation/tegu_beefmen/code/_DEFINES/beefman_defines.dm
  ModularTegustation/tegu_beefmen/code/modules/language/russian.dm
  ModularTegustation/tegu_beefmen/code/modules/mob/beefman.dm
  ModularTegustation/tegu_beefmen/code/modules/mob/beefman_clothing.dm
  ModularTegustation/tegu_beefmen/code/modules/mob/beefman_trauma.dm
  ModularTegustation/tegu_beefmen/icons/mob/beefman_bodyparts.dmi
  ModularTegustation/tegu_beefmen/icons/mob/beefman_bodyparts_robotic.dmi
  ModularTegustation/tegu_beefmen/icons/mob/clothing/beefclothing.dmi
  ModularTegustation/tegu_beefmen/icons/mob/clothing/beefclothing_hold_left.dmi
  ModularTegustation/tegu_beefmen/icons/mob/clothing/beefclothing_hold_right.dmi
  ModularTegustation/tegu_beefmen/icons/mob/clothing/beefclothing_worn.dmi
  ModularTegustation/tegu_beefmen/icons/phobetor_tear.dmi
  ModularTegustation/tegu_beefmen/icons/russian_language.dmi
  ModularTegustation/tegu_beefmen/sounds/beef_die.ogg
  ModularTegustation/tegu_beefmen/sounds/beef_grab.ogg
  ModularTegustation/tegu_beefmen/sounds/beef_hit.ogg
  ModularTegustation/tegu_beefmen/sounds/footstep_splat1.ogg
  ModularTegustation/tegu_beefmen/sounds/footstep_splat2.ogg
  ModularTegustation/tegu_beefmen/sounds/footstep_splat3.ogg
  ModularTegustation/tegu_beefmen/sounds/footstep_splat4.ogg
  ModularTegustation/tegu_beefmen/strings/tegu_beefman.txt
  ModularTegustation/tegu_beefmen/strings/tegu_experiment.txt
  ModularTegustation/tegu_beefmen/strings/tegu_russian.txt
  ModularTegustation/tegu_integration.dm
  code/__DEFINES/TeguDefines.dm
  code/__HELPERS/global_lists.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/helpers.dm
  code/modules/surgery/organs/tongue.dm
  tgstation.dme
Labels: Removal

#130 Removes fulp halloween costumes
  ModularTegustation/Teguicons/TeguLayout_224x64.dmi
  ModularTegustation/Teguicons/goldens_treasures/cloaks.dmi
  ModularTegustation/Teguicons/goldens_treasures/neck.dmi
  ModularTegustation/Teguicons/halloween_costumes/centaur_icon.dmi
  ModularTegustation/Teguicons/halloween_costumes/centaur_worn.dmi
  ModularTegustation/Teguicons/halloween_costumes/costumes_icon.dmi
  ModularTegustation/Teguicons/halloween_costumes/costumes_worn.dmi
  ModularTegustation/Teguicons/halloween_costumes/cyberdemon_icon.dmi
  ModularTegustation/Teguicons/halloween_costumes/cyberdemon_worn.dmi
  ModularTegustation/Teguicons/halloween_costumes/jo_alienicon.dmi
  ModularTegustation/Teguicons/halloween_costumes/jo_aliens.dmi
  ModularTegustation/Teguicons/halloween_costumes/jo_costumes.dmi
  ModularTegustation/Teguicons/halloween_costumes/jo_icon.dmi
  ModularTegustation/Teguicons/halloween_costumes/samus_icon.dmi
  ModularTegustation/Teguicons/halloween_costumes/samus_lefthand.dmi
  ModularTegustation/Teguicons/halloween_costumes/samus_righthand.dmi
  ModularTegustation/Teguicons/halloween_costumes/samus_worn.dmi
  ModularTegustation/Teguicons/halloween_costumes/sans_icon.dmi
  ModularTegustation/Teguicons/halloween_costumes/sans_worn.dmi
  ModularTegustation/Teguicons/halloween_costumes/zrheld_l.dmi
  ModularTegustation/Teguicons/halloween_costumes/zrheld_r.dmi
  ModularTegustation/Teguicons/halloween_costumes/zrider_icon.dmi
  ModularTegustation/Teguicons/halloween_costumes/zrider_worn.dmi
  ModularTegustation/tegu_halloween_costumes/_event.dm
  ModularTegustation/tegu_halloween_costumes/halloween_costumes.dm
  ModularTegustation/tegu_halloween_costumes/outfits.dm
  tgstation.dme
Labels: Removal

#129 Changes heads' cloak sprites.
  icons/mob/clothing/neck.dmi
  icons/obj/clothing/cloaks.dmi
Labels: Tweak

#131 Aristocrat suits, syndicate medic uniform.
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/syndicate.dmi
Labels: Feature

#132 Adds a CentCom/Rear Admiral's cloak
  ModularTegustation/altjobtitles/outfits.dm
  code/modules/clothing/suits/cloaks.dm
  icons/mob/clothing/neck.dmi
  icons/obj/clothing/cloaks.dmi
Labels: Tweak

#133 Changes RD's cloak sprite to the old one.
  icons/mob/clothing/neck.dmi
  icons/obj/clothing/cloaks.dmi
Labels: Tweak

#135 Random rooms framework
  _maps/RandomRooms/ruins/cybersun_default.dmm
  _maps/RandomRooms/ruins/cybersun_med_default.dmm
  _maps/RandomRooms/ruins/cybersun_med_rich.dmm
  _maps/RandomRooms/ruins/cybersun_rich.dmm
  _maps/RandomRuins/SpaceRuins/forgottenship.dmm
  code/controllers/subsystem/mapping.dm
  code/game/objects/effects/spawners/roomspawners.dm
  code/modules/mapping/random_rooms.dm
  icons/effects/landmarks_static.dmi
  tgstation.dme
Labels: Feature

#136 Buffs chaos marine
  ModularTegustation/tegu_mobs/chaos_marine.dm
Labels: Balance

#137 Some Packed fixes
  _maps/map_files/PackedStation/PackedStation.dmm
Labels: Tweak

#139 Makes stun baton check for armor.
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/stunbaton.dm
Labels: Tweak

#140 Updates golem ship.
  _maps/RandomRuins/AnywhereRuins/golem_ship.dmm
Labels: Tweak

#141 Update/Fixes advanced hypnoflash
  ModularTegustation/tegu_traitor_code/tegu_traitor_items.dm
Labels: Tweak

#142 TGUI "Create Command Report"; Fake announcement item for traitors.
  ModularTegustation/tegu_traitor_code/tegu_traitor_items.dm
  ModularTegustation/tegu_traitor_code/uplink_items_tegu.dm
  code/__DEFINES/sound.dm
  code/modules/admin/verbs/commandreport.dm
  code/modules/admin/verbs/randomverbs.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/CommandReport.js
  tgui/packages/tgui/interfaces/FakeCommandReport.js
Labels: /tg/ Port, Feature

#143 Adds 2 new posters
  ModularTegustation/Teguicons/tegucontraband.dmi
  ModularTegustation/tegu_posters.dm
Labels: Tweak

#128 Chat badges
  ModularTegustation/tegu_mentorhelp/mentor_verbs.dm
  code/controllers/configuration/entries/game_options.dm
  code/game/world.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/badges/badges.dm
  code/modules/client/client_procs.dm
  code/modules/client/verbs/ooc.dm
  config/badges.json
  config/game_options.txt
  icons/badges.dmi
  tgstation.dme
Labels: Feature

#107 Elite CentCom Response "Team"
  ModularTegustation/Teguicons/tegu_effects.dmi
  ModularTegustation/Teguicons/tegumobs.dmi
  ModularTegustation/Tegusounds/claw/attack.ogg
  ModularTegustation/Tegusounds/claw/error.ogg
  ModularTegustation/Tegusounds/claw/eviscerate1.ogg
  ModularTegustation/Tegusounds/claw/eviscerate2.ogg
  ModularTegustation/Tegusounds/claw/move.ogg
  ModularTegustation/Tegusounds/claw/prepare.ogg
  ModularTegustation/tegu_mobs/the_claw.dm
  tgstation.dme
Labels: Feature, Need sprites

#144 TerraGov stuff
  ModularTegustation/Teguicons/teguhud.dmi
  ModularTegustation/tegu_global_vars.dm
  code/__DEFINES/preferences.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/admin/verbs/commandreport.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/outfits/terragov.dm
  code/modules/clothing/spacesuits/terragov.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/jobs/access.dm
  icons/mob/clothing/ears.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/syndicate.dmi
  tgstation.dme
Labels: Feature, Tweak

#145 Ports few BeeStation PRs
  _maps/shuttles/infiltrator_basic.dmm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/hud.dm
  code/datums/action.dm
  code/datums/components/team_monitor.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/syndicatebomb.dm
  code/game/objects/items/implants/implant_camera.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/uplink/uplink_items.dm
  icons/mob/actions.dmi
  icons/mob/hud.dmi
  tgstation.dme
Labels: Feature, Tweak

#146 Cloning machinery tweaks
  ModularTegustation/tegu_cloning/_DEFINES/DNA.dm
  ModularTegustation/tegu_cloning/_DEFINES/brain_trauma.dm
  ModularTegustation/tegu_cloning/_DEFINES/machines.dm
  ModularTegustation/tegu_cloning/_DEFINES/poll_ignore.dm
  ModularTegustation/tegu_cloning/circuits.dm
  ModularTegustation/tegu_cloning/exp_cloner.dm
  code/_globalvars/lists/poll_ignore.dm
  code/datums/dna.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
  tgstation.dme
Labels: Tweak

#147 Nanoforged Katana
  ModularTegustation/Teguicons/teguitems.dmi
  ModularTegustation/Teguicons/teguitems_hold_left.dmi
  ModularTegustation/Teguicons/teguitems_hold_right.dmi
  ModularTegustation/Tegusounds/weapons/anime_slash.ogg
  ModularTegustation/Tegusounds/weapons/unsheathed_blade.ogg
  ModularTegustation/tegu_traitor_code/uplink_items_tegu.dm
  ModularTegustation/tegu_weaponry/melee/nano_blade.dm
  tgstation.dme
Labels: Feature

#149 T12 rifle and sounds.
  ModularTegustation/Teguicons/48x32_guns.dmi
  ModularTegustation/Teguicons/magazines.dmi
  ModularTegustation/Teguicons/teguitems_hold_left.dmi
  ModularTegustation/Teguicons/teguitems_hold_right.dmi
  ModularTegustation/Tegusounds/weapons/guns/ak47.ogg
  ModularTegustation/Tegusounds/weapons/guns/autorifle-1.ogg
  ModularTegustation/Tegusounds/weapons/guns/autorifle-2.ogg
  ModularTegustation/Tegusounds/weapons/guns/autorifle-3.ogg
  ModularTegustation/tegu_weaponry/guns/ak47.dm
  ModularTegustation/tegu_weaponry/guns/t12.dm
  code/game/sound.dm
  tgstation.dme
Labels: Tweak

#150 Fixes all the stuff about full-auto, ports LAZYACCESS modifiers PR
  ModularTegustation/tegu_weaponry/guns/ak47.dm
  code/__HELPERS/mouse_control.dm
  code/_onclick/ai.dm
  code/_onclick/click.dm
  code/_onclick/cyborg.dm
  code/_onclick/drag_drop.dm
  code/_onclick/hud/action_button.dm
  code/_onclick/hud/alert.dm
  code/_onclick/hud/movable_screen_objects.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/observer.dm
  code/_onclick/overmind.dm
  code/datums/components/fullauto.dm
  code/datums/components/tackle.dm
  code/datums/mutations/hulk.dm
  code/game/atoms.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/tail_pin.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
  code/modules/buildmode/bm_mode.dm
  code/modules/buildmode/buttons.dm
  code/modules/buildmode/submodes/advanced.dm
  code/modules/buildmode/submodes/area_edit.dm
  code/modules/buildmode/submodes/basic.dm
  code/modules/buildmode/submodes/boom.dm
  code/modules/buildmode/submodes/copy.dm
  code/modules/buildmode/submodes/delete.dm
  code/modules/buildmode/submodes/fill.dm
  code/modules/buildmode/submodes/mapgen.dm
  code/modules/buildmode/submodes/outfit.dm
  code/modules/buildmode/submodes/smite.dm
  code/modules/buildmode/submodes/throwing.dm
  code/modules/buildmode/submodes/variable_edit.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/client/client_procs.dm
  code/modules/food_and_drinks/kitchen_machinery/griddle.dm
  code/modules/hydroponics/grown/towercap.dm
  code/modules/projectiles/ammunition/energy/special.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/energy/laser_gatling.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets/lmg.dm
  code/modules/projectiles/projectile/energy/tesla.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/vehicles/mecha/_mecha.dm
Labels: Code improvement, Fix

#151 Almost fixes cloning
  ModularTegustation/tegu_cloning/computer.dm
  ModularTegustation/tegu_cloning/exp_cloner.dm
  ModularTegustation/tegu_cloning/machine.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#152 Money put into PDA/Tablet will go into ID, if there is one in it.
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/modular_computers/computers/item/computer.dm
Labels: /tg/ Port

#153 Changes some gun sounds
  sound/weapons/ionrifle.ogg
  sound/weapons/laser.ogg
  sound/weapons/laser3.ogg
  sound/weapons/pulse.ogg
Labels: Tweak

#154 Emergency shuttle travel locations
  _maps/map_files/generic/CentCom.dmm
  code/controllers/subsystem/autotransfer.dm
  code/controllers/subsystem/vote.dm
  code/game/area/areas/centcom.dm
  code/modules/shuttle/emergency.dm
Labels: Feature

#155 Fixes shuttledock blastdoors at Hub area
  _maps/map_files/generic/CentCom.dmm
Labels: Fix

#156 Unfucks the blast doors on Hub area.
  _maps/map_files/generic/CentCom.dmm
Labels: Fix
