Repository vlggms/tegustation, pull requests merged in 2021-02, with the labels that each got.

#13 Ports 2 Nanites PRs
  code/modules/research/nanites/nanite_programs.dm
  code/modules/research/nanites/nanite_programs/sensor.dm
  code/modules/research/nanites/rules.dm
Labels: Balance, Tweak

#8 Improves engineering bounties
  ModularTegustation/engineering_bounties.dm
  tgstation.dme
Labels: Balance, Tweak

#10 Adds Miniature Energy Guns to the CE, RD and CMO's Equipment (from Kitsunemitsu)
  ModularTegustation/README.md
  ModularTegustation/tegu_borg_code/tegu_medborg_upgrades.dm
  ModularTegustation/tegu_locker_overwrites.dm
  ModularTegustation/tegu_security_code/tegu_starter_gear.dm
  code/__DEFINES/role_preferences.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/research_director.dm
Labels: Balance, Feature

#17 [Ready / Modularized] Changes the fairygrass sprite
  ModularTegustation/Teguicons/tegu_fairygrass.dmi
  ModularTegustation/zTegu_overwrite/tegu_overwrite_vars.dm
Labels: Tweak

#15 Adds 2 job-unique traitor items
  ModularTegustation/tegu_traitor_code/tegu_traitor_items.dm
  ModularTegustation/tegu_traitor_code/uplink_items_tegu.dm
  ModularTegustation/tegu_virology.dm
  tgstation.dme
Labels: Feature

#23 Removes sal-chems
  ModularTegustation/tegu_borg_code/tegu_medborg_upgrades.dm
  ModularTegustation/tegu_medical_code/tegu_chem_CF_medicines.dm
  ModularTegustation/tegu_medical_code/tegu_chem_CF_reagent_containers.dm
  ModularTegustation/tegu_medical_code/tegu_chem_CF_reagents.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  tgstation.dme
Labels: Removal

#18 Alligator
  ModularTegustation/Teguicons/tegucontraband.dmi
  ModularTegustation/Teguicons/tegumobs.dmi
  ModularTegustation/tegu_mobs/alligator.dm
  ModularTegustation/tegu_posters.dm
  ModularTegustation/tegu_traitor_code/objectives_tegu.dm
  tgstation.dme
Labels: Feature

#24 Nerfs traitor virologist symptoms.
  ModularTegustation/tegu_virology.dm
Labels: Balance

#26 renames a single achievement
  code/datums/achievements/misc_achievements.dm
Labels: Tweak

#27 Adds a space exploration kit to mining voucher.
  ModularTegustation/README.md
  ModularTegustation/tegu_space_explorers.dm
  code/modules/mining/machine_vending.dm
  tgstation.dme
Labels: Tweak

#31 Fixes RPED beam.
  code/modules/research/stock_parts.dm
Labels: Fix

#30 [Port] Updates dependencies and exofab tgui code.
  tgui/docs/component-reference.md
  tgui/package.json
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui-panel/Panel.js
  tgui/packages/tgui-panel/styles/themes/light.scss
  tgui/packages/tgui-polyfill/package.json
  tgui/packages/tgui/components/Section.js
  tgui/packages/tgui/components/Tabs.js
  tgui/packages/tgui/interfaces/ExosuitFabricator.js
  tgui/packages/tgui/package.json
  tgui/packages/tgui/stories/Tabs.stories.js
  tgui/packages/tgui/styles/components/Section.scss
  tgui/packages/tgui/styles/components/Tabs.scss
  tgui/packages/tgui/styles/themes/paper.scss
  tgui/yarn.lock
Labels: Code improvement

#37 Gives Cybersun ship a griddle and fixes MetaStation xenobiology.
  _maps/RandomRuins/SpaceRuins/forgottenship.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Tweak

#35 Adds 2 new ruins and revamps the icebox version of the tech cult ruin
  ModularTegustation/Teguicons/tegumobs.dmi
  ModularTegustation/tegu_iceruins.dm
  ModularTegustation/tegu_mobs/syndicatespaceman.dm
  ModularTegustation/tegu_spaceruins.dm
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_newcops.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_techcult.dmm
  _maps/RandomRuins/SpaceRuins/oldcodeops.dmm
  tgstation.dme
Labels: Feature

#34 Prosthetic limb quirks
  ModularTegustation/README.md
  ModularTegustation/tegu_quirks.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/quirks/negative.dm
  tgstation.dme
Labels: Tweak

#14 Transformative Xenobio Crossbreeds
  ModularTegustation/README.md
  ModularTegustation/Teguicons/slimecrossing.dmi
  ModularTegustation/tegu_cargo.dm
  ModularTegustation/tegu_xenobio_blackcross/black_extracts.dm
  ModularTegustation/tegu_xenobio_blackcross/slime_code.dm
  code/__DEFINES/TeguDefines.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/simple_animal/slime/death.dm
  code/modules/mob/living/simple_animal/slime/life.dm
  code/modules/mob/living/simple_animal/slime/powers.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/surgery/core_removal.dm
  tgstation.dme
Labels: Feature

#43 Quick digishoes fix
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix
